Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
DerivePointerAlignment: true
PointerAlignment: Left

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve

# Ident #if/#else/#endif:
#   #if defined(WIN)
#   #  include <windows.h>
#   #else
#   #  include <curl.h>
#   #endif
IndentPPDirectives: AfterHash

IfMacros: ["COPP_LIKELY_IF", "COPP_UNLIKELY_IF"]
StatementAttributeLikeMacros:
  [
    "UTIL_SYMBOL_EXPORT",
    "UTIL_SYMBOL_IMPORT",
    "UTIL_SYMBOL_VISIBLE",
    "UTIL_SYMBOL_LOCAL",
    "UTIL_FORCEINLINE",
    "UTIL_NOINLINE_NOCLONE",
    "COPP_NORETURN_ATTR",
    "COPP_UNREACHABLE",
  ]
StatementMacros: []
